@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root {
    padding-top: 20px;
    box-sizing: border-box;

}

body {
    background-color: black;
}

h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-left: 210px;
}

.title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    height: 400px;
    margin-top: 60px;
}

.tower {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 36%;
    align-items: center;
    border: 1px solid white;

}

.holding {
    margin: auto;
    border: 1px solid white;
    height: 200px;
    width: 612px;

}

.hand {
    display: flex;
    justify-content: center;
}



.red {
    width: 350px;
    height: 70px;
    background-color: red;
    border-radius: 5%;

}

.green {
    width: 280px;
    height: 70px;
    background-color: green;  
    border-radius: 5%;  
}

.blue {
    width: 230px;
    height: 70px;
    background-color: blue;
    border-radius: 5%;
}

.purple {
    width: 190px;
    height: 70px;
    background-color: purple;
    border-radius: 5%;
}